## Proyecciones de Natalidad en Jalisco (Python)

El objetivo de este proyecto, es predecir la natalidad en el Estado de Jalisco para los años 2019 al 2021, utilizando los datos anuales del 2010 al 2018. Así como ofrecer una evaluación de los resultados.

In [7]:
import pandas as pd
import sqlite3

con: sqlite3.Connection = sqlite3.connect("file:./data/natalidad_en_mexico.sqlite?mode=ro", uri=True)
df: pd.DataFrame = pd.read_sql_query("SELECT * from nacimientos", con)

display(df.head())

con.close()

                 Estado  Total Hombres Mujeres No Especificado   Año
0        Aguascalientes  26583   13603   12980               0  2010
1       Baja California  63559   32264   31295               0  2010
2   Baja California Sur  13988    7076    6912               0  2010
3              Campeche  20380   10230   10150               0  2010
4  Coahuila de Zaragoza  56972   28879   28093               0  2010

In [8]:
df.describe()

                Estado  Total Hombres Mujeres No Especificado   Año
count              297    297     297     297             297   297
unique              33    296     295     294              33     9
top     Aguascalientes  61840    6777   12980               0  2010
freq                 9      2       2       2             209    33